@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* top bar  */
.sub_menu i {
  color: black;
  font-size: 30px;
  padding: 20px;
}
.logo_mid > a > img {
  width: 70px;
}
.content_top_bar {
  display: flex;
  justify-content: space-between;
}
.form-control {
  width: 100px;
  height: 30px;
  outline: none;
  transition: 0.6s;
  font-size: 10px;
}
.form-control:focus {
  border: 2px solid green;
  width: 200px;
  transition: 0.6s;
}
.btn {
  padding: 5px 10px;
  background-color: white;
  transition: 0.6s;
  font-size: 10px;
}
.btn:hover {
  background-color: rgb(11, 187, 11);
  transition: 0.6s;
  border: 1px solid green;
}
.icon i {
  background-color: gray;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  margin-right: 5px;
  color: white;
}
.icon i:nth-child(1),
.icon i:nth-child(2),
.icon i:nth-child(3),
.icon i:nth-child(4) {
  transition: 0.6s;
}
.icon i:nth-child(1):hover {
  background-color: rgb(75, 75, 248);
  transition: 0.6s;
}
.icon i:nth-child(2):hover {
  background-color: rgb(75, 75, 248);
  transition: 0.6s;
}
.icon i:nth-child(3):hover {
  background-color: rgb(255, 60, 0);
  transition: 0.6s;
}
.icon i:nth-child(4):hover {
  background-color: rgb(17, 158, 1);
  transition: 0.6s;
}

/* end top bar  */

/* product  */

.banner_product {
  background-color: bisque;
}
.banner_text {
  width: 1200px;
  margin: 0 auto;
  gap: 50px;
  padding: 20px 0;
}
.banner_text .text {
  color: rgb(167, 121, 63);
  padding: 40px 0;
}
.banner_text .img img {
  width: 500px;
  height: 300px;
}
.btn_cart a{
    gap: 10px;
    font-size: 15px;
    color: green;
  }
.btn_cart:hover a{
    color: white;
}
/* end product  */

/* product content  */


.gallery-title
{
    font-size: 36px;
    color: #FFA500;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #037501;
    border-radius: 5px;
    text-align: center;
    color: #037501;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #037501;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #037501;

}
.btn-default:active .filter-button:active
{
    background-color: #FFA500;
    color: white;
}
 .btn_sp:hover{
  color: white;

 }
.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.grid_product{
  gap: 0px;
}
.gallery_product img{
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* end product content  */


    /* footer  */

        .owl-carousel .owl-item {
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
  padding: 30px;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  overflow-y: auto !important;
  padding-bottom: 40px;
}

.owl-carousel .owl-item img {
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
  position: absolute;
  bottom: -20px;
  /* left: 33%; */
  color: #000000;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: white;
  padding: 0.3rem 0.4rem;
  border-radius: 5px;
  box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 0.8);
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.owl-carousel .span{
  color: gray;
}
.owl-theme .owl-dots .owl-dot span {
  height: 20px;
  background: #2a6ba3 !important;
  border-radius: 2px !important;
  opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  height: 13px;
  width: 13px;
  opacity: 1;
  transform: translateY(2px);
  background: #83b8e7 !important;
}

@media (min-width: 480.6px) and (max-width: 575.5px) {
  .owl-carousel .owl-item .card .name {
    left: 24%;
  }
}

@media (max-width: 360px) {
  .owl-carousel .owl-item .card .name {
    left: 30%;
  }
}


    /* end footer  */